body, html {
  height: 80%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #73c9eb;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto; /* Esto centrará el contenido horizontalmente */
}

h1, h2 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button[type="submit"] {
  padding: 8px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span.descripcion {
  margin-right: 10px;
}

li span.monto {
  font-weight: bold;
}

form.eliminar-form {
  display: inline;
}
